.more-info {
	position: relative;
	margin: 0 auto;
	top: 2px;
	max-width: 320px;
	background: linear-gradient(-45deg, transparent 35px, $yellow 0) right, linear-gradient(135deg, transparent 35px, $yellow 0) left;
	background-size: 51% 99%;
	background-repeat: no-repeat;
	height: 207px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.more-info__text {
	font-family: Archangelsk;
	font-weight: 400;
  font-size: 30px;
  line-height: 30.63px;
	text-align: center;
}

.more-info__button {
	padding: 19px 50px;
	font-family: Roboto;
	font-weight: 700;
  font-size: 20px;
	color: $yellow;
	background-color: $black;
}

.more-info__button:focus {
	background-color: $gray;
}
	
.more-info__button:active {
	background-color: $gray;
}


@media (min-width: 768px) {
	.more-info {
		max-width: 470px;
    height: 278px;
    margin-right: 155px;
	}
	
	.more-info__text {
		font-size: 46px;
		line-height: 46px;
		padding-left: 46px;
		text-align: start;
	}
	
	.more-info__button {
		font-size: 24px;
		margin-right: 107px;
	}
}

@media (min-width: 1200px) {
	.more-info {
		min-width: 624px;
    height: 369px;
	}
	
	.more-info__text {
		font-size: 62px;
    line-height: 63px;
		width: 484px;
		margin: 0 auto;
		padding-left: 0;
	}
	
	.more-info__button {
		height: 78px;
		margin-right: 209px;
	}
	
	.more-info__button:hover {
		background-color: $gray;
	}
}