<div class="container-advertising-background">	
	<div class="container-advertising">	
		<div class="container-advertising__images images-advertising">
			<picture>
				<source media="(min-width: 768px)" srcset="../assets/images/images_src/televisor_tablet.png">
				<source media="(min-width: 1200px)" srcset="../assets/images/images_src/televisor_desktop.png">
				<img class="images-advertising__televisor" src="../assets/images/images_src/televisor.png" alt="televisor">
			</picture>
			<div class="images-advertising__container-logo-hp" >
				<picture>
					<source media="(min-width: 768px)" srcset="../assets/images/images_src/hp_logo_tablet.svg">
					<img src="./assets/images/images_src/hp_logo.svg" alt="">
				</picture>
			</div>
			<picture>
				<source media="(min-width: 768px)" srcset="../assets/images/images_src/cross_tablet.svg">
				<img src="./assets/images/images_src/cross.svg" alt="">
			</picture>
			<div class="images-advertising__container-main-logo" >
				<picture>
					<source media="(min-width: 768px)" srcset="../assets/images/images_src/main_logo_tablet.svg">
					<img class="images-advertising__image" src="./assets/images/images_src/main_logo.svg" alt="main logo">
				</picture>
			</div>
		</div>
		<div class="container-advertising__description description-advertising">
			<h2 class="description-advertising__title">Полное погружение вместе с HP</h2>
			<p class="description-advertising__text">Погрузись в современные экшен-игры с реалистичным изображением
			с помощью монитора с диагональю 23,8 дюйма, 
			созданном для отображения максимально насыщенных цветов. 
			Успевай реагировать на любые события с временем отклика 1 мс и частотой в 144 Гц!</p>
			<ul class="description-advertising__list">
				<li>Яркие насыщенные цвета</li>
				<li>Кристальная четкость изображения</li>
				<li>Быстрые движения и плавный геймплей</li>
			</ul>
			<button class="description-advertising__btn button">Подробнее</button>
		</div>
	</div>
</div>