<div class="container-buy-game">
	<div class="container-buy-game__image">
	</div>
	<div class="buy-game">
		<h2 class="buy-game__title">Купить игру Cyberpunk 2077</h2>
		<div class="buy-game__paramets paramets">
			<h3 class="paramets__title buy-game__untitle">В комплект входит:</h3>
			<ul class="paramets__list">
				<li>Футляр с игровыми дисками</li>
				<li>Футляр с кодом для загрузки игры и дисками (pc)</li>
				<li>Справочник с информацией об игровом мире</li>
			</ul>			
		</div>
		<div class="buy-game__logos logos-platforms">
			<h3 class="logos-platforms__title  buy-game__untitle">Выберите платформу:</h3>
			<div class="logos-platforms__img-container">
				<div class="logos-platforms__img logos-platforms__img--first-container">
					<a href="#"><img src="../assets/images/images_src/PC_logo.svg" alt="PC logo"></a>
					<a href="#"><img src="../assets/images/images_src/xbox_one_logo.svg" alt="x-box logo"></a>
				</div>
				<div class="logos-platforms__img logos-platforms__img--second-container">
					<a href="#"><img src="../assets/images/images_src/stadia_logo.svg" alt="stadia logo"></a>
					<a href="#"><img class="logos-platforms__img--ps-logo" src="../assets/images/images_src/ps4_logo.svg" alt="ps logo"></a>
				</div>
			</div>
		</div>
	</div>
</div>