<footer class="footer">
	<div class="footer__logo">
		<picture>
			<source media="(min-width: 768px)" srcset="../assets/images/images_src/main_logo_tablet.svg">
			<a href="#"><img class="footer__logo--main-logo images-advertising__image" src="./assets/images/images_src/main_logo.svg" alt="main logo"></a>
		</picture>
		<picture>
			<source media="(min-width: 768px)" srcset="../assets/images/images_src/cd_proj_red_logo_tablet.svg">
			<img class="footer__logo--cs-prj-logo" src="./assets/images/images_src/cd_proj_red_logo.svg" alt="cd project red logo">
		</picture>
	</div>
	<div class="footer__link">
		<a href="#">Лицензия</a>
		<a href="#">Политика конфиденциальности</a>
	</div>
	<div class="footer__text">
		<p class="">CD PROJEKT®, Cyberpunk®, Cyberpunk 2077®</p>
	</div>
</footer>