<div class="container-forms__border"></div>
<div class="container-forms">
	<div class="container-forms__container-action-logo container-action-logo">
		<picture>
			<source media="(min-width: 768px)" srcset="../assets/images/images_src/logo_action_tablet.svg">
			<img src="../assets/images/images_src/logo_action.svg" class="container-action-logo--position" alt="">
		</picture>
	</div>
	<div class="container-forms__tablet">
		<div class="container-forms__images images-form">	
			<div class="images-form__container">
				<picture>
					<source media="(min-width: 768px)" srcset="../assets/images/images_src/xbox_tablet.png">
					<img src="../assets/images/images_src/xbox.png" alt="x-box">
				</picture>
			</div>
			<div class="images-form__container">
				<picture>
					<source media="(min-width: 768px)" srcset="../assets/images/images_src/playstation5_tablet.png">
					<img src="../assets/images/images_src/playstation5.png" alt="playstation 5">
				</picture>
			</div>
		</div>
		<div>
			<div class="container-forms__description description-form">
				<h2 class="description-form__title">Играй и выигрывай!</h2>
				<p class="description-form__text">Играй в <span class="text-bold-blue">Cyberpunk 2077</span> и получи возможность 
				выиграть консоль <span class="text-bold-blue">Xbox Series X</span> или <span class="text-bold-blue">Sony PlayStation 5</span>! 
				Заполни форму ниже и приложи скриншот о покупке игры. 
				Итоги розыгрыша будут подведены 1 февраля. Удачи! ;)</p>
			</div>
			<div class="container-forms__forms forms">
				<form action="https://www.google.com/search?q=htmlacademy" method="post">			
					<input type="text" class="forms__input-text" name="name" placeholder="Как тебя зовут?" autofocus required>
					<input type="text" class="forms__input-text" name="email" placeholder="Твой е-mail" autofocus required>
					<label class="forms__input-file">
						<input type="file">
						<span>Прикрепить скриншот</span>              
					</label>
					<input class="forms__btn button" type="button" value="Отправить">					
					<label class="forms__checkbox">
						<input type="checkbox">
						Согласен на обработку персональных данных
					</label>			
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container-forms__border container-forms__border--bottom"></div>