<div class="gallery">
	<div class="gallery__container-photo">
		<picture>
			<source media="(min-width: 768px)" srcset="../assets/images/images_src/gallery_photo_1_tablet.png">
			<img class="gallery__photo" src="../assets/images/images_src/gallery_photo_1.png" alt="gallery photo">
		</picture>
	</div>
	<div class="gallery__container-photo photo--2">
		<picture>
			<source media="(min-width: 768px)" srcset="../assets/images/images_src/gallery_photo_2_tablet.png">
			<img  class="gallery__photo" src="../assets/images/images_src/gallery_photo_2.png" alt="gallery photo">
		</picture>
	</div>
	<div class="gallery__container-photo photo--3">
		<picture>
			<source media="(min-width: 768px)" srcset="../assets/images/images_src/gallery_photo_3_tablet.png">
			<img class="gallery__photo gallery__photo--width" src="../assets/images/images_src/gallery_photo_3.png" alt="gallery photo">
		</picture>
	</div>
</div>