<div class="game-offer__container">
	<div class="game-offer__image-wrap">
	</div>
	<div class="game-offer">
		<h2 class="game-offer__title">Купить игру Cyberpunk 2077</h2>
		<div class="game-offer__paramets paramets">
			<h3 class="game-offer__subtitle">В комплект входит:</h3>
			<ul class="paramets__list">
				<li class="list_item list_item--icon-disk">Футляр с игровыми дисками</li>
				<li class="list_item list_item--icon-disk-code">Футляр с кодом для загрузки игры и дисками (pc)</li>
				<li class="list_item list_item--icon-info">Справочник с информацией об игровом мире</li>
			</ul>			
		</div>
		<div class="game-offer__logos logos-platforms">
			<h3 class="game-offer__subtitle">Выберите платформу:</h3>
			<div class="logos-platforms__img-container">
				<div class="logos-platforms__img logos-platforms__img--first-container">
					<a href="#"><img src="../assets/images/images_src/PC_logo.svg" alt="PC logo"></a>
					<a href="#"><img src="../assets/images/images_src/xbox_one_logo.svg" alt="x-box logo"></a>
				</div>
				<div class="logos-platforms__img logos-platforms__img--second-container">
					<a href="#"><img src="../assets/images/images_src/stadia_logo.svg" alt="stadia logo"></a>
					<a href="#"><img class="logos-platforms__img--ps-logo" src="../assets/images/images_src/ps4_logo.svg" alt="ps logo"></a>
				</div>
			</div>
		</div>
	</div>
</div>