<header class="header">
	<img class="header__main-logo main-logo" src="./assets/images/images_src/main_logo.svg" alt="main logo">
	<div class="header__logos">
		<a href="https://www.youtube.com/" target="_blank"><img src="./assets/images/images_src/youtube_logo.svg" alt="youtube logo"></a>
		<a href="https://vk.com/" target="_blank"><img src="./assets/images/images_src/vk_logo.svg" alt="vk logo"></a>
		<a href="https://ru-ru.facebook.com/" target="_blank"><img src="./assets/images/images_src/facebook_logo.svg" alt="facebook logo"></a>
		<a href="https://twitter.com/" target="_blank"><img src="./assets/images/images_src/twitter_logo.svg" alt="twitter logo"></a>
		<a href="#"><img src="./assets/images/images_src/chat_logo.svg" alt="chat logo"></a>
		<a href="https://www.instagram.com/" target="_blank"><img src="./assets/images/images_src/instagram_logo.svg" alt="instagram logo"></a>
	</div>
</header>
