@import "normalize.scss";
@import "scaffolding.scss";
@import "variables.scss";

@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/fonts_build/roboto_regular.woff2) format("woff2"), url(../assets/fonts/fonts_build/roboto_regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Archangelsk;
  src: url(../assets/fonts/fonts_build/ofont.ru_Archangelsk.woff2) format("woff2"), url(../assets/fonts/fonts_build/ofont.ru_Archangelsk.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}






@import "./blocks/header.scss";
@import "./blocks/aside.scss";
@import "./blocks/description_game.scss";
@import "./blocks/gallery.scss";
@import "./blocks/forms.scss";
@import "./blocks/advertising.scss";
@import "./blocks/buy_game.scss";
@import "./blocks/footer.scss";
@import "normalize.scss";
@import "scaffolding.scss"; 

